.activeLink{
    color: #9e833f;
    font-weight: 500;
    border-bottom:  4px solid #9e833f;
}
.navbar-nav{
    display: flex;
    flex-direction: row!important;
    justify-content: center;
    gap: 16px;
    overflow-x: auto;
}
.navbar-subheader {
    background: white;
    display: flex;
    justify-content: center;
    overflow: auto;
    flex-wrap: nowrap;
    display: flex;
    height: 70px;
    a{
        display: inline-block;
        padding: 10px 20px;
    }
}
    