<footer class="background-brand">
  <div class="content-container">
      <h1 class="main-heading">Request More Information</h1>
      <p class="sub-heading">If you have any questions about our products, please, don't hesitate to contact us. One of our consultant will reach back to you quickly.</p>
      <a href="#" class="get-in-touch-btn">GET IN TOUCH</a>
      <div class="footer">
          <p class="footer-logo"><img src="../assets/logo.svg" alt="logo" width="192"></p>
          <p>&copy; 2025 House Decor, LLC</p>
          <div class="social-icons">
              <img src="../assets/social.png" alt="logo" width="192">
              <!-- <a href="#"><i class="bi bi-linkedin"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-youtube"></i></a> -->
          </div>
      </div>
    </div>
</footer>