$primary-text-color: black;
$secondary-text-color: #6c757d;
$primary-bg-color: #fff;
$secondary-bg-color: #A1A483;
$success-color: #28a745;
$success-color-hover: #218838;

.shopping-cart {
    width: 40%;
}

.continue-shopping-link {
    display: block;
    color: $primary-text-color;
    margin-bottom: 1rem;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;

    &:hover {
        text-decoration: none;
    }

    i {
        margin-right: 0.5rem;
    }
}

.card-details {
    width: 30%;
    background-color: $secondary-bg-color;
    color: $primary-bg-color;
    padding: 1.5rem;
    border-radius: 10px;
    max-height: 644px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: $primary-bg-color;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    padding: 1rem;

    img.product-image {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 8px;
        margin-right: 1rem;
    }
}

.cart-item-details {
    flex-grow: 1;

    .h6 {
        font-size: 1rem;
        margin-bottom: 0.25rem;
    }

    small {
        font-size: 0.8rem;
        color: $secondary-text-color;
        margin-bottom: 0.5rem;
    }

    select {
        margin-right: 0.5rem;
    }

    span {
        font-weight: 500;
    }

    button {
        margin-left: 0.5rem;
    }
}

.card-type-icons {
    img {
        margin-right: 0.5rem;
        cursor: pointer;
    }
}

.total-amount {
    font-weight: bold;
}

.checkout-btn {
    background-color: $success-color;
    color: $primary-bg-color;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;

    &:hover {
        background-color: $success-color-hover;
    }
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}