<div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel" *ngIf="!loading">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let current of bannerCarousel" [ngClass]="{'active': current.id ==0}">
      <a [href]="current.link">
        <img [src]="current.imageUrl" class="d-block w-100" [alt]="current.altText">
      </a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="carousel placeholder-glow" *ngIf="loading">
  <div class="carousel-inner">
    <div class="carousel-item placeholder"></div>
  </div>
</div>